    li a {
      font-size: 22px;
      font-family: 'Courier New', Courier, monospace; /* Optional: you might want to use a different font */
      color: #fff;
      text-decoration: none;
      text-shadow:
        0 0 5px #ff0000,
        0 0 10px #ff0000,
        0 0 15px #ff0000,
        0 0 20px #ff0000,
        0 0 30px #ff0000,
        0 0 40px #ff0000;
    }

    li a:hover {
      text-shadow:
        0 0 5px #ffffff,
        0 0 10px #ffffff,
        0 0 15px #ffffff,
        0 0 20px #ffffff,
        0 0 30px #ffffff,
        0 0 40px #ffffff;
    }

/* Small screens (default) */
body {
  font-size: 18px;
}

h1 {
  font-size: 24px;
}

/* Medium screens (640px) */
@media (min-width: 640px) {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 36px;
  }
}

/* Large screens (1024px) */
@media (min-width: 1024px) {
  body {
    font-size: 22px;
  }
  h1 {
    font-size: 48px;
  }
}
